body {
    background-color: #F2D2BD;
    background-size: 200% 200%;
    animation: color 9.5s ease-in-out infinite;
    -moz-animation: color 9.5s ease-in-out infinite;
    -webkit-animation: color 9.5s ease-in-out infinite;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s; /* Smooth transitions for background color and text color */
}

  

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.gridcontainernine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 95vw;
    height: 47vh;
    padding: 8px;
    column-gap: 8px;
    row-gap: 8px;
}

div.gridcontainerten {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 95vw;
    height: 62vh;
    padding: 8px;
    column-gap: 8px;
    row-gap: 8px;
}

button.btn {
    display: block;
    height: 85%;
    width: 85%;
    background-color: rgb(255, 221, 0);
    border: 2.85px solid black;
    border-radius: 7px;
    transition: transform 0.2s ease-in-out;
    opacity: 0.8;
}

button.btn.ten {
background-color: limegreen;
}

button.btn:hover {
    opacity: 1000000000;
    transform: scale(1.04);
}

a.links {
    font-size: 3vw;
    font-family: monospace, sans-serif;
    text-decoration: none;
    color: black;
}

div.item {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


h2#email {
    font-size: 3.5rem;
    font-family: monospace, sans-serif;
}

h1.name {
color: black;
font-family: monospace, sans-serif;
font-size: 2.5rem;
}

div.footdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 30vw;
    height: 10vh;
    margin-bottom: 2.5vh;
    background-color: transparent;
}


@media screen and (1200px <= width <= 40000px) {

a.links {
    font-size: 3vw;
    font-family: monospace, sans-serif;
    text-decoration: none;
    color: black;
}
}

@media screen and (1000px <= width <= 1200px) {

a.links {
    font-size: 5vw;
    font-family: monospace, sans-serif;
    text-decoration: none;
    color: black;
}

}

@media screen and (10px <= width <= 1000px) {

a.links {
    font-size: 6vw;
    font-family: monospace, sans-serif;
    text-decoration: none;
    color: black;
}

div.gridcontainernine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 95vw;
    height: 32vh;
    padding: 8px;
    column-gap: 8px;
    row-gap: 8px;
}

div.gridcontainerten {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 95vw;
    height: 47vh;
    padding: 8px;
    column-gap: 8px;
    row-gap: 8px;
}


}

@media screen and (10px <= width <= 450px) {
    
h1.name {
color: black;
font-family: monospace, sans-serif;
font-size: 1.7rem;
}

}
